<div class="page-header">
  <%= link_to tools_path, class: 'btn btn-default' do %>
    All Tools
  <% end %>
  <%= link_to edit_tool_path(@tool), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show tool</h1>
</div>

<dl class="dl-horizontal">
  <dt>Nombre:</dt>
  <dd><%= @tool.nombre %></dd>

  <dt>Valor:</dt>
  <dd><%= @tool.valor %></dd>

  <dt>Disponible:</dt>
  <dd><%= @tool.disponible %></dd>

  <dt>Bodega:</dt>
  <dd><%= @tool.bodega %></dd>

</dl>
