<div class="row">
  <div class="col-sm-6">
    <h1>Ordenes</h1>
  </div>

  <div class="col-sm-6 text-right">
  <% if params[:id].nil? %>
    <%= link_to elementos_path, class: 'btn btn-primary' do %>
      Volver
    <% end %>
  <% else %>
    <%= link_to new_elemento_elementos_order_path(params[:id]), class: 'btn btn-primary' do %>
      Nueva orden
    <% end %>
  <% end %>
 </div>
</div>

<div class="table-responsive">
  <table id="myTable" class="table table-striped table-bordered dt-responsive nowrap">
    <thead>
      <tr>
            <th>Cantidad</th>
            <th>Responsable</th>
            <th>Status</th>
            <th>Prestamo</th>
            <th>Equipo</th>
            <th>Entrega</th>
            <th>Costo</th>

      </tr>
    </thead>
    <tbody>
      <% elementos_orders.each do |elementos_order| %>
        <%= content_tag :tr, id: dom_id(elementos_order), class: dom_class(elementos_order) do %>

            <td><%= elementos_order.cantidad %></td>
            <td><%= elementos_order.responsable %></td>
            <td><%= elementos_order.status ? "Activo": "Finalizado" %></td>
            <td><%= elementos_order.created_at.strftime("%Y-%m-%d") %></td>
            <td><%= elementos_order.elemento.nombre %></td>
            <td><%= elementos_order.updated_at.strftime("%Y-%m-%d") unless elementos_order.status  %></td>
            <td><%= elementos_order.elemento.valor.to_i * elementos_order.cantidad.to_i %></td>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
