<%= simple_form_for([@tool, @tools_order]) do |order| %>
  <%= order.error_notification %>
  <%= order.error_notification message: order.object.errors[:base].to_sentence if order.object.errors[:base].present? %>
    
  <div class="form-group">
    <%= order.input :cantidad, 
                    collection: (1..@tool.total_disponible) %>

    <%= order.input :responsable, 
                    class: 'form-control' %>    

    <%= order.input  :status, as: :hidden %>        
  
    <% if params[:id] %>
      <%= order.button :submit, 'Actualizar', class: 'btn btn-primary' %>
    <% else %>
      <%= order.button :submit, 'Crear', class: 'btn btn-primary' %>
    <% end %>


  </div>
<% end %>