<%= simple_form_for([@tool, @tools_order]) do |order| %>
  <%= order.error_notification %>
  <%= order.error_notification message: order.object.errors[:base].to_sentence if order.object.errors[:base].present? %>
    
  <div class="form-group">
    <%= order.input :cantidad, 
                    collection: (1..@tool.total_disponible) %>

    <%= order.input :responsable, 
                    class: 'form-control' %>    

    <%#= order.input :status,
                    label: "Activo" %>        
  
    <%= order.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>