<div class="page-header">
  <%= link_to tools_orders_path, class: 'btn btn-default' do %>
    All Tools_orders
  <% end %>
  <%= link_to edit_tools_order_path(@tools_order), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show tools_order</h1>
</div>

<dl class="dl-horizontal">
  <dt>Cantidad:</dt>
  <dd><%= @tools_order.cantidad %></dd>

  <dt>Responsable:</dt>
  <dd><%= @tools_order.responsable %></dd>

  <dt>Status:</dt>
  <dd><%= @tools_order.status %></dd>

  <dt>Tool:</dt>
  <dd><%= @tools_order.tool %></dd>

</dl>
