
<div class="table-responsive">
  <table class="shadow p-3 mb-5 bg-white rounded table table-striped table-bordered dt-responsive nowrap">
    <thead>
      <tr>
            <th>Fecha</th>
            <th>Cantidad</th>
            <th>Nombre</th>
            <th>EPP</th>
            <th>Costo</th>
            <th>Numero de vale</th>
            <th>Observaciones</th>

      </tr>
    </thead>
    <tbody>
      <% @elementos_orders.each do |elementos_order| %>
        <%= content_tag :tr, id: dom_id(elementos_order), class: dom_class(elementos_order) do %>

            <td><%= elementos_order.created_at.strftime("%Y-%m-%d") %></td>
            <td><%= elementos_order.cantidad %></td>
            <td><%= elementos_order.responsable %></td>
            <td><%= elementos_order.elemento.nombre %></td>
            <td><%= elementos_order.elemento.valor.to_i * elementos_order.cantidad.to_i %></td>
            <td><%= elementos_order.numero_de_vale %></td>
            <td><%= elementos_order.observaciones %></td>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
