
<%= render 'boxes' %>
<br>
<a href="<%= epp_path %>" style="text-decoration: none">
  <h3>Ultimos EPP entregado</h3>
    <%= render 'epp' %>
</a>
<a href="<%= ins_path %>" style="text-decoration: none">
<h3>Ultimos insumos entregados</h3>
<%= render 'insumos' %>
</a>
<h3>Herramientas pendientes de entrega</h3>
<%= render 'herramientas' %>
